/* Informations générales du document
Police : Genos
*/
/* GENERAL */
html {
    font-family:'Genos', sans-serif;
}
/* NAVBAR */ 
.logo {
    font-size:200%;
    font-weight:bold;
    font-family:'Luxurious Script', cursive;
    border:solid 1px white;
    width:50px;
    border-radius:50%;
}
nav {
    background-color:darkblue;
    opacity:0.8;
}